### User configurable options

SPARROW_FOLDER=$(HOME)/code/sparrow3d

# The BULLET_SRC_DIR is where you have the BulletDynamics, BulletCollision, BulletSoftBody subdirs.
BULLET_SRC_DIR=/usr/include/bullet
#BULLET_SRC_DIR=/usr/local/include/bullet
# if you install bullet by hand, you may need to use something like this:
#BULLET_SRC_DIR=$(HOME)/code/bullet2/src

# BULLET_LIB_DIR is where the libBullet*.so files are.
#BULLET_LIB_DIR=/usr/local/lib
BULLET_LIB_DIR=/usr/lib/x86_64-linux-gnu

# in case you have a different src dir than the include dir.
# this might happen if you install bullet by hand.
# BULLET_INCLUDE is where you have the btBulletCollisionCommon.h header files and others.
BULLET_INCLUDE=$(BULLET_SRC_DIR)
